.Baratas{
    position: relative;
    /* right:-100vh; */
}
.Kota{
    position: relative;
    margin-top: 5vh;
    width: 20vh;
}
.Hewan{
    position: relative;
    margin-top: -9.5vh;
    /* right: -22vh; */
    width: 30vh;
}
.Cari{
    position: relative;
    margin-top: -1.5vh;
    /* right: 15vw; */
    width: 20vh;

}
.RS{
    position: relative;
    /* right: -3vh; */
    /* width: 40vh; */
    max-height: 200px;
}

.Rowrs{
    /* border: 5px solid black; */
    padding-left: 5%;
    padding-right: 2%;
    height: 70vh;
    width: 100%;
}

/* .Buttoncard{
    position: absolute;
    bottom: 0%;
    border: 0px;
} */
.Gambarcard{
    width: 100%;
    height: 30vh;
    margin-bottom: 10%;
}

.Cardrs{
    position: relative;
    /* height: 100%; */
    width: 100%;
}
.Cardutama{
    margin-left: 33%;
    position: relative;
}
.Tombolrs{
        width: 150px;
        position: relative;
        bottom: 2.3vh;
        border: 0rem;
        right: 1%;
}
.Fasilitas{
    width: 100%;
    font-size: 1.5vh;
}
.Lokasi{
    width: 8%;
    position: absolute;
    color: #fbe859 !important;
}
.Location{
    position: relative;
    left: 12%;
}
.SearchButton{
    position: relative;
    width: 30% !important;
}