.navbar-container {
  background: #445E6B;
  // background: transparent;
  color: #fde84d;
  font-weight: normal;
  height: 6rem;
  max-width: 100vw;
  z-index: 99;
  padding: 0 4rem;
  font-family: "Roboto", sans-serif;
  .navbar {
    padding: 0 0;
    vertical-align: middle;
      .navbar-logo {
        max-width: 50px;
        height: auto;
        padding-left: 0;
        margin-left: 0;
      }
      .navbar-logo-font {
        margin-left: 15px;
        max-height: 30px;
        max-width: auto;
      }
      .navbar-right {
        position: relative;
        display: flex;
        .navbar-text, .navbar-search {
          padding-left: 1rem;
          padding-right: auto;
          .navbar-h3 {
            font-size: 1rem;
            font-weight: bold;
            right: 0;
            padding-bottom: 0;
            color: #fff;
          }
          input {
            min-width: 20vw;
            max-width: 40vw;
            height: 2.5rem;
            overflow: hidden;
            padding: 0;
            border: none;
            border-radius: 5px;
            margin-left: 10px;
          }
        }
      }
      
    }
    .nav-link {
      display: block;
      // padding: .5rem 1rem;
    }
    .navbar-text.nav-dropdown {
      padding-top: 0;
      margin-top: 0;
    }
}

@media (max-width: 710px) {
  .navbar-search {
    display: none;
  }
}

@media (max-width: 500px) {
  .navbar-container {
    padding: 1rem;
    .navbar-logo-font {
      display: none;
    }
    .navbar-logo {
      max-width: 30px;
      height: auto;
      padding-left: 0;
      margin-left: 0;
    }
  }
  
}