.CardInfo{
    position: relative;
    width: 27.5%;
    left: 5%;
    margin-top: 3%;
}
.Picture{
    position: relative;
    width: 40%;
    left: 30%;
    top: 2vh;
}
.Nama{
    position: relative;
    top: 1rem;
    left:3.5rem;
}
.Role{
    position: relative;
    left:7rem;
}
.Count{
    position: relative;
    left: 50%;
    top: 30%;
}
.Hewan{
    position: relative;
    left: 50%;
    top: 1.6rem;
}
.Paw{
    position: relative;
    right: 20vw;
    width: 5vh;
}
.Jumlah{
    position: relative;
    right: 16.5vw;
    top: -3.5vh;
}
.History{
    position: relative;
}
.Date{
    width: 6vh;
    position: relative;
    right: -0.5vw;
    top: -7vh;
}
.Kunjungan{
    position: relative;
    top: -11.5vh;
    right: -5vw;
}
.Logout{
    position: relative;
    width: 25.2%;
    left: 4rem;
    top: 0.5rem;
}
.Detail{
    position: relative;
    left: 35%;
    width: 65%;
    border: 5px solid black;
    bottom: 25rem;
}
.Uploadfoto{
    position: relative;
    width: 65%;
    left: 35%;
    bottom: 26.5rem;
    text-align: left;
}
.Upload{
    position: relative;
    width: 64%;
    left: 35%;
    bottom: 27.5rem;
}
.Basicinformation{
    position: relative;
    width: 64%;
    left: 35%;
    bottom: 27rem;
    text-align: left;
}
.Username{
    position: relative;
    width: 30vw;
    right: -1.5vw;
    text-align: left;
}
.Formemail::-webkit-input-placeholder{
    color: black;
}
.Gender{
    position: relative;
    right: -1.5vw;
    
}
.Contact{
    position: relative;
    width: 64%;
    left: 35%;
    bottom: 26rem;
    text-align: left;
}
.Simpan{
    position: relative;
    left:89%;
    bottom: 25rem;
    width: 10vw;
}
.Formemail{
    position: relative;
    width: 95%;
}